<div id="<%= dom_id order_status %>">
  <p>
    <strong>Name:</strong>
    <%= order_status.name %>
  </p>

  <p>
    <strong>Created at:</strong>
    <%= order_status.created_at %>
  </p>

  <p>
    <strong>Updated at:</strong>
    <%= order_status.updated_at %>
  </p>

</div>
